<ul class="p-0">
  <li class="pt-3 pb-3 text-left pl-4 bg-grey-light hv11">
    <h5 class="lbTitle color-grey pl-0 pr-0 pt-3">{{ 'COMMON_TODAY_MEETING' | translate | async }}</h5>
  </li>
  <li *ngFor="let meet of meetingsList" class="meeting mt-2 pl-3 pr-3">
    <div class="p-3" [class.active]="meet.id == currentMeetingId">
      <label class="">{{meet.who}}</label>
      <div>
        <small class="">{{pad(meet.startDateTime.getHours())}}:{{pad(meet.startDateTime.getMinutes())}} - {{pad(meet.endDateTime.getHours())}}:{{pad(meet.endDateTime.getMinutes())}}</small>
      </div>
    </div>
  </li>
  <li class="pt-5 pb-2 text-center" *ngIf="meetingsList.length == 0">
    <label>{{ 'COMMON_NO_NEXT_MEETING' | translate | async }}</label>
  </li>
</ul>