.slDb{
    margin: 10px;
    position: absolute;
    right: 10px;
    margin-top: -40px;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -80%);
  }