<div class="d-flex flex-column h-100">
    <app-room-header class="w-100" [day]="day" [time]="time" [image]="room.image" [name]="room.name"></app-room-header>

    <app-room-status class="w-100" [meetingId]="currentMeeting.id" (toogleMenu)="toogleRoomsOrEvents($event)"></app-room-status>

    <div class="slab-flex-1 d-flex flex-row p-0 m-0">
        <div class="slab-flex-1 d-flex flex-column">
            <app-current-meeting [meeting]="currentMeeting" class="slab-flex-1"></app-current-meeting>
            <app-next-meeting [meeting]="nextMeeting"></app-next-meeting>
        </div>
        <div class="next-availability">
            <div class="pl-0 pr-0" *ngIf="!listOpen">
                <app-room-availability></app-room-availability>
            </div>

            <div class="pl-0 pr-0" *ngIf="listOpen">
                <app-today-meetings [meetingsList]="meetingsList" [currentMeetingId]="currentMeeting.id"></app-today-meetings>
            </div>
        </div>
    </div>


</div>