.nextMeeting{
    height: 15vh;
    padding-left: 100px;
}

.disableNextMeeting{
    height: 15vh;
}

.meeting {
    display: inline-block;
    color:#939290;
    border-bottom: #ccc;
    width: 25%;
    white-space: nowrap;
}
.contentNextMeetings {
    height: 6vh;
    overflow-y: auto;
}