.header {
  background-color: #000000;
  color:#ffffff;
  height: 12vh;
  width:100% ;
  img {
    height: 12vh;
  }
  h2 {
    font-size: 3rem;
    padding-top: 1.8rem;
    font-weight: 100;
  }
  h1 {
    font-size: 3.5rem;
  }
}